@{
    ViewData["Title"] = "Contacts";
}
@model List<TelephoneDirectoryApp.Model.WebModel.ContactWM>

<div class="panel-header panel-header-sm">
</div>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6"><h4 class="card-title"> Rehberdeki Kişiler</h4></div>
                        <div class="col-md-6"><button class="btn btn-success" type="button" style="float:right">Rehbere Yeni Kişi Ekle</button></div>
                    </div>  
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                            <th>
                                Adı
                            </th>
                            <th>
                                Soyadı
                            </th>
                            <th>
                                Firması
                            </th>
                            <th class="text-right">
                                İşlemler
                            </th>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @item.Name
                                        </td>
                                        <td>
                                            @item.Surname
                                        </td>
                                        <td>
                                            @item.Firm
                                        </td>
                                        <td class="text-right">
                                            <button class="btn btn-info" type="button">Detay Görüntüle</button>
                                            <button class="btn btn-primary" type="button">Güncelle</button>
                                            <button class="btn btn-danger" type="button">Sil</button>
                                            <button class="btn btn-warning" type="button">Detay Ekle</button>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>