<div class="sidebar" data-color="orange">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
    <div class="logo">
        <a href="#" class="simple-text logo-mini">
            TDA
        </a>
        <a href="/Home/Index" class="simple-text logo-normal">
            Telephone Directory
        </a>
    </div>
    <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
            <li class="active ">
                <a href="/Home/Index">
                    <i class="now-ui-icons design_app"></i>
                    <p>Anasayfa</p>
                </a>
            </li>
            <li>
                <a href="/Contact/Index">
                    <i class="now-ui-icons users_single-02"></i>
                    <p>Rehber</p>
                </a>
            </li>
            <li>
                <a href="/Report/Index">
                    <i class="now-ui-icons design_bullet-list-67"></i>
                    <p>Raporlar</p>
                </a>
            </li>
        </ul>
    </div>
</div>